name: Build
on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "beleap-m1air"
            runner: macos-latest
            flakeAttr: ".#darwinConfigurations.beleap-m1air.system"
          - name: "csjang-m3pro"
            runner: macos-latest
            flakeAttr: ".#darwinConfigurations.csjang-m3pro.system"
          # - name: "vm-arm64-Darwin-presonal"
          #   runner: macos-latest
          #   flakeAttr: ".#nixosConfigurations.vm-arm64-Darwin-personal.config.system.build.vm"
          # - name: "vm-arm64-Darwin-work"
          #   runner: macos-latest
          #   flakeAttr: ".#nixosConfigurations.vm-arm64-Darwin-work.config.system.build.vm"
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: |
          set -xeou pipefail
          nix build "${{ matrix.flakeAttr }}"
